<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <p>投稿ユーザー画像：<%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
    <p><%= link_to 'プロフィール編集', edit_user_path(@user) %></p>
</div>