    <h2>New book</h2>
    <%= form_with model:book, local:true do |f| %>
        <div class="form-group">
          <p><label for="book_title">Title</label></p>
          <p><%= f.text_field :title %></P>
          <p><label for="book_body">Opinion</label></p>
          <p><%= f.text_area :body %></P>
      <%= f.submit 'Create Book' %>
        </div>
    <% end %>
