// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 td {
    display: table-cell;
    vertical-align: inherit;
 }
    
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

form {
    display: block;
    margin-top: 0em;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}